name: Deploy docs

on:
  push:
    branches: [ 33-add-edit-on-github-button ]

jobs:
  build-and-deploy-docs:
    runs-on: ubuntu-latest
    env:
      docs-directory: /home/runner/work/kokkos-core-wiki/kokkos-core-wiki/docs
      python-version: '3.10'

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ env.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.python-version }}
          architecture: 'x64'
      - name: Install Python dependencies
        run: |
          pip3 install -r build_requirements.txt
      - name: Build documentation
        working-directory: ${{ env.docs-directory }}
        run: |
          make html
      - name: Add button for directly edit docs on GitHub
        working-directory: ${{ env.docs-directory }}
        run: |
          python3 source/edit_button_handler.py
      # .nojekyll file is needed for GitHub Pages to know it's getting a ready webpage
      # and there is no need to generate anything
      - name: Generate nojekyll file
        working-directory: ${{ env.docs-directory }}/generated_docs
        run: touch .nojekyll
      # This action moves the content of `generated_docs` to the `deploy-doc-site` branch
      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: deploy-doc-site
          folder: ${{ env.docs-directory }}/generated_docs
          clean: true
