name: Build and deploy docs

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      docs-directory: /home/runner/work/kokkos-core-wiki/kokkos-core-wiki/docs
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-python@v5.4.0
        with:
          python-version: '3.10'
      - run: pip install -r build_requirements.txt
      - name: Build documentation
        working-directory: ${{ env.docs-directory }}
        run: |
          make html
      - name: Updload documentation as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3.0.1
        with:
          name: github-pages
          path: ${{ env.docs-directory }}/generated_docs

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
